body{
    margin:0;
    font-family:Arial;
    direction:rtl;
    background:#f4f4f4;
}

/* Navbar */
header{
    position:fixed;
    top:0;
    width:100%;
    background:#34495e;
    color:white;
    padding:12px;
    text-align:center;
}

nav a{
    color:white;
    margin:0 8px;
    text-decoration:none;
    font-weight:bold;
}

/* Sections */
.section{
    min-height:80vh;
    padding:100px 20px 40px;
    text-align:center;
}

.hero{
    background:#6a11cb;
    color:white;
}

/* Cards */
.cards{
    display:flex;
    justify-content:center;
}

.card{
    background:white;
    padding:20px;
    margin:10px;
    width:120px;
    border-radius:10px;
}

/* Form */
form input{
    display:block;
    margin:10px auto;
    padding:10px;
    width:70%;
}
