body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    direction: rtl;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

/* الهيدر */
header {
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    padding: 25px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
}

/* الأقسام */
.section {
    margin: 40px auto;
    padding: 40px;
    max-width: 900px;
    background: white;
    border-radius: 15px;
    text-align: center;
}

/* الكروت */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #f1f1f1;
    padding: 25px;
    margin: 15px;
    width: 180px;
    border-radius: 12px;
    font-weight: bold;
}

/* الأزرار */
button {
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    background: #6a11cb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* الفورم */
form input {
    width: 70%;
    padding: 12px;
    margin: 10px auto;
    display: block;
    border-radius: 25px;
    border: 1px solid #ccc;
    text-align: center;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}